*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    color: #000;
    font-style: normal;
    background: #FECDDC;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #D23166;
    text-decoration: none;
    background: #fff;
    border: 3px solid #D23166;
    border-radius: 60px;
    padding: 19px 36px 15px 43px;
    display: block;
    width: 371px;
}

.header {
    background: url(../images/ice-cream.png) no-repeat right 6% top, url(../images/background1.jpg);
    background-size: 500px auto, cover;
    color: #fff;
    padding: 52px 0 134px;
}

.title {
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 90px;
    width: 870px;
}

.promo-text {
    font-size: 22px;
    line-height: 140%;
    margin: 0 0 85px;
    width: 790px;
}

.nav-link {
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    text-decoration: none;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 150px 2fr;
}

.nav-list-item:last-child {
    grid-column: 4/5;
    margin-left: 80px;
}

.main-nav {
    background: #fff;
    border: solid #D23166 2px;
    border-radius: 100px;
    padding: 17px 93px 22px;
    margin-bottom: 105px;
}

.logo {
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.traditions {
    background: url(../images/milk1.png) no-repeat left 12% top, url(../images/milk2.png) no-repeat right 13% bottom #DAEEFF;
    padding: 102px 0 186px;
    position: relative;
}

.traditions::before {
    content: "";
    display: block;
    width: 250px;
    height: 216px;
    background: url(../images/rainbow.svg) no-repeat;
    position: absolute;
    top: -134px;
    right: 24%;
}

.traditions-title {
    margin: 0 81px 47px 0;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 86px;
    line-height: 151px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #E44277;
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapper-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 128px;

}

.traditions-text {
    font-size: 20px;
    margin: 0 0 16px;
    line-height: 155%;
}

.traditions-text:first-of-type {
    margin-top: 165px;
}

.traditions-text:nth-of-type(2) {
    order: 1;
}

.traditions-text:last-of-type {
    text-align: right;
}

.select {
    padding: 65px 0 108px;
}

.select-title {
font-family: 'Pacifico', cursive;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 105px;
text-align: center;
letter-spacing: 0.04em;
margin: 0 0 205px;
color: #8008A9;

text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);


}

.select-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}

.select-list-item {
    width: 384px;
    background: #DAEEFF;
    padding: 0 20px 41px;
    border-radius: 20px;
    position: relative;
}

.select-image {
    display: block;
    width: 344px;
    height: auto;
    position: absolute;
    top: -126px;

}

.select-subtitle {
/* Шарики */
font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 70px;
text-align: center;
margin: 155px 0 36px;
color: #8008A9;


}

.select-text {
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 34px;
text-align: center;
margin: 0 0 68px;
color: #000000;



}

.select-link {
    display: block;
    text-decoration: none;
    background:url(../images/arrow.svg) no-repeat center #FECDDC;
    margin: 0 auto;
    width: 74px;
    height: 74px;
    border: 2px solid #000;
    border-radius: 50%;
}

.magic {
    background: url(../images/background3.svg) no-repeat, linear-gradient(to bottom, transparent 250px,#DAEEFF 250px);
    background-size: 100% auto, auto auto;
}

.taste-buttons-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.taste-button {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #000000;
    /*transform: rotate(-7.52deg);*/
    border: 3px solid;
    border-radius: 100px;
    width: 190px;
    height: 67px;
    padding: 19px 5px;

}

.taste-button.button-vanilla {
    background-color: #F6E6BB;
    transform: rotate(-7.52deg);
}

.taste-button.button-blueberry {
    background-color: #A470B6;
    transform: rotate(-6.82deg) translateY(-23px);
}
.taste-button.button-choko {
    background-color: #92604C;
    transform: rotate(-3.19deg) translateY(-38px);
}
.taste-button.button-strawberry {
    background-color: #F09BB2;
    transform: rotate(2.41deg) translateY(-38px);
}
.taste-button.button-pistachios {
    background-color: #A5CF8A;
    transform: rotate(6.69deg) translateY(-23px);
}
.taste-button.button-mango {
    background-color: #F3CB60;
    transform: rotate(6.69deg);
}

.magic-content {
    display: flex;
    gap: 68px;
}

.magic-title {
font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 100%;
text-align: right;
color: #E44277;
text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
margin: 202px 0 41px;
padding: 0;

}

.magic-text {
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
text-align: right;
color: #000000;
padding: 0;
margin: 0;
}

.button.magic-button {
    border-color: #F3CB60;
    color:#000;
    margin-left: auto;

}

.ice-cream-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; 
}

.widget {
    width: 644px;
    height: 735px;
    background: url(../images/wafel.png) no-repeat left -100px top -60px, url(../images/circle.svg) no-repeat center;
    flex-shrink: 0;
}

.ice-cream-img {
    position: absolute;
    
}
.ice-cream-img.ice-vanilla{
left: 40px;
top: 295px; 
width: 127px;
height: 107px;

}

.ice-cream-img.ice-blueberry {
width: 152.94px;
height: 138.55px;
left: 60px;
top: 395px; 
}

.ice-cream-img.ice-chocolate {
    width: 128.65px;
    height: 116.95px;
    left: 220px;
    top: 523px; 
    }

.ice-cream-img.ice-strawberry {
        width: 128.65px;
        height: 116.95px;
        right: 100px;
        top: 140px; 
    }
.ice-cream-img.ice-fistashki {
        width: 128.65px;
        height: 116.95px;
        right: 46px;
        top: 250px; 
    }

    .ice-cream-img.ice-mango {
        width: 224.91px;
        height: 224.91px;
        right: -30px;
        top: 380px; 
    }

.subscribe {
    background: url(../images/background2.png) repeat-x;
    padding: 192px 0 65px 0;
}

.subscribe-input {
    border: 2px solid #000;
    border-radius: 14px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background-color: #fff;
    width: 367px;
    height: 60px;
    padding: 0 0 0 26px;
}

.subscribe-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #fff;
    background: #E44277;
    width: 289px;
    height: 60px;
    border-radius: 14px;
}

.subscribe-form {
    display: flex;
    gap: 18px;
    align-items: center;
    background: url(../images/subscribe.png) no-repeat right top;
    min-height: 430px;
}

.footer {
    background: #FF8093;
    padding: 26px 0 21px 0;
}

.footer-text {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #000;
}

.footer-text span {
    color: #fff;
}

.burger {
      display: none;  
}

@media (max-width: 1239px) {

    .burger {
        border: none;
        background:  transparent;
        display: block;
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 6px;
        position: absolute;
        right: 20px;
        top: 21px;
        z-index: 2;

    }

    .burger-line {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #FFFFFF;
        border-radius: 2px;
        transition: transform 0.3s ease;
    }

    .burger-close .burger-line:nth-child(2) {
        transform: rotate(-45deg) translate(-3px, 3px);
    }
    .burger-close .burger-line:nth-child(3) {
        display: none;
    }
    .burger-close .burger-line:last-child {
        transform: rotate(45deg) translate(-4px, -4px);
    }

    .button {
     width: 100%;
     padding: 19px 15px 15px;
    }

    .title {
    font-size: 40px;
    width: 100%;
    margin-bottom: 28px;
    }

    .header {
        padding: 306px 21px 91px 18px;
        background: url(../images/ice-cream.png) no-repeat center top, url(../images/background1.jpg);
        background-size: 227px auto, cover;

    }
    .promo-text {
        font-size: 18px;
        margin-bottom: 41px;
        width: 100%;
    }

    .logo {
        width: 41px;
        height: 39px;
        top: 20px;
        left: 20px;
        transform: translateX(0);
        z-index: 2;
    }
    
    .main-nav {
        padding: 0;
        border-radius: 0;
        border: none;
        background: #FFBDC1;
        margin-bottom: 0;
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        /* display: none; */
        opacity: 0;
        transition-property: top, opacity;
        transition-duration: 0.7s;
        transition-timing-function: ease;
    }

    .main-nav-open {
        /* display: block; */
        top: 0;
        opacity: 1;
        transition-property: top, opacity;
        transition-duration: 1s;
        transition-timing-function: ease;
    }

    .nav-list {
        display: block;
        padding-top: 62px;
    }

    .nav-link {
        display: block;
        text-align: center;
        color: #fff;
        padding-bottom: 15px;
        padding-top: 18px;
        border-bottom: #fff 1px solid;
    }

    .nav-link-last {
        border-bottom: none;
    }

    .nav-list-item:last-child {
        margin-left: 0;
    }

    .traditions {
        background: url(../images/milk1-mobile.png) no-repeat left top -45px #DAEEFF;
        padding: 94px 20px 32px;
    }

    .traditions::before {
        display: none;
    }

    .traditions-title {
    font-size: 42px;
    line-height: 137%;
    text-align: center;
    letter-spacing: 0.04em;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 20px 0;
    }

    .wrapper-text {
        display: block;
    }

    .traditions-text:first-of-type {
        margin-top: 0;
    }

    .traditions-text{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .traditions-text:last-of-type {
        text-align: left;
        background: url(../images/milk2-mobile.png) no-repeat right top -10px;
        padding-top: 75px;
        margin-top: -10px;
        margin-right: -20px;
        padding-right: 20px;
    }

    .select {
        padding: 50px 20px 109px;
    }

    .select-title {
    font-size: 36px;
    line-height: 137%;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 133px 0;
    }

    .select-list {
        row-gap: 120px;
    }

    .select-image {
        width: 244px;
        top: -85px
    }

    .select-list-item {
        width: 281px;
        padding: 0 18px 39px;
    }

    .select-subtitle {
        margin: 116px 0 22px;
        font-size: 30px;
        line-height: 53px;
        color: #8008A9;


    }

    .select-text {
    font-size: 18px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 32px;

    }

    .subscribe-form {
        background: none;
        display: block;
        min-height: auto;
    }

    .subscribe {
        padding: 344px 20px 52px 20px;
    }

    .subscribe-input {
        padding: 17px 30px 19px 26px;
        width: 280px;
        margin-bottom: 20px;
    }

    .subscribe-button {
        width: 280px;
        padding: 16px 17px 15px 27px;
    }


    .magic {
        padding-bottom: 52px;
    }

    .taste-button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: none;
    }

    .taste-button-text {
        display: none;
    }
}